@{
    ViewBag.Title = "Search";
}

@model WebApplication1.Models.BranchSearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search classes</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div>
    <h4 class="col-md-10"> Class Types</h4>
    <div id="classdiv">
        <div class="col-md-10">
            @foreach (var item in Model.ClassNames)
            {
                <input type="checkbox" name="@item" value="@item"> @item
            }
        </div>
    </div>
    <div class="col-md-10"> <br /> </div>

    <!-- Get the requested opening (WeekDays)-->
    <div class="col-md-10"> <br /> </div>
    <input type="time" id="wdOpen" />

    <!-- Get the requested closing (WeekDays)-->
    <div class="col-md-10"> <br /> </div>
    <input type="time" id="wdClose" />

    <!-- Get the requested opening (Fridays)-->
    <div class="col-md-10"> <br /> </div>
    <input type="time" id="fridayOpen" />

    <!-- Get the requested closing (Fridays)-->
    <div class="col-md-10"> <br /> </div>
    <input type="time" id="fridayClose" />

    <!-- Get the requested opening (Saturdays)-->
    <div class="col-md-10"> <br /> </div>
    <input type="time" id="saturdayOpen" />

    <!-- Get the requested closing (Saturdays)-->
    <div class="col-md-10"> <br /> </div>
    <input type="time" id="saturdayClose" />

    <div class="col-md-10"> <br /> </div>
    <div class="col-md-10">
        <a href="#" id="mybutton" class="btn btn-default">Search </a>
    </div>
    <div class="col-md-10"> <br /> </div>
    <div class="col-md-10">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

    $(document).ready(function() {
        $('#mybutton').click(function () {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var classes = [];
        $('#classdiv input:checked').each(function() {
            classes.push(this.name);
        });

        // now names contains all of the names of checked checkboxes
        // do something with it for excamle post with ajax
        $.ajax({
            url: '@Url.Action("Search", "Branches")',
            type: 'POST',
            data: {
                __RequestVerificationToken: token, classNames: classes, wdOpen: $('#wdOpen').val(),
                wdClose: $('#wdClose').val(), fridayOpen: $('#fridayOpen').val(),
                fridayClose: $('#fridayClose').val(), saturdayOpen: $('#saturdayOpen').val(), 
                saturdayClose: $('#saturdayClose').val()
            },
            success: function (response) {
                if (response.result == 'Redirect')
                    window.location = response.url;
            },
            error: function (result) {
                alert("error!");
            }
        });   //end ajax
    });
});
    </script>
}



<h2></h2>

