@{
    ViewBag.Title = "Search";
}

@model WebApplication1.Models.BranchSearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search branches</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div>
    <div> <h4>Specific class requirements   (If left untouched, no class requirements will be applied) </h4> </div>
    <div id="classdiv">
        <div class="col-md-10">
            @foreach (var item in Model.ClassNames)
            {
                <input type="checkbox" name="@item" value="@item"> @item
            }
        </div>
    </div>
    <div class="col-md-10"> <br /> </div>

    <h4 class="col-md-10"> Maximal week day open</h4>
    <!-- Get the requested opening (WeekDays)-->
    <input type="text" id="wdOpen" class="timepickeropen col-md-10" />
    <div class="col-md-10"> <br /> </div>

    <h4 class="col-md-10"> Minimal week day close</h4>
    <!-- Get the requested closing (WeekDays)-->
    <input type="text" id="wdClose" class="timepickerclose col-md-10" />
    <div class="col-md-10"> <br /> </div>

    <h4 class="col-md-10"> Maximal friday open</h4>
    <!-- Get the requested opening (Fridays)-->
    <input type="text" id="fridayOpen" class="timepickeropen col-md-10" />
    <div class="col-md-10"> <br /> </div>

    <h4 class="col-md-10"> Minimal friday close</h4>
    <!-- Get the requested closing (Fridays)-->
    <input type="text" id="fridayClose" class="timepickerclose col-md-10" />
    <div class="col-md-10"> <br /> </div>


    <h4 class="col-md-10"> Maximal saturday open</h4>
    <!-- Get the requested opening (Saturdays)-->
    <input type="text" id="saturdayOpen" class="timepickeropen col-md-10" />
    <div class="col-md-10"> <br /> </div>

    <h4 class="col-md-10"> Minimal saturday close</h4>
    <!-- Get the requested closing (Saturdays)-->
    <input type="text" id="saturdayClose" class="timepickerclose col-md-10" />
    <div class="col-md-10"> <br /> </div>

    <div class="col-md-10"> <br /> </div>
    <div class="col-md-10">
        <a href="#" id="mybutton" class="btn btn-default">Search </a>
    </div>
    <div class="col-md-10"> <br /> </div>
    <div class="col-md-10">
        @Html.ActionLink("Back to List", "Index")
    </div>
    <div class="col-md-10"> <br /> </div>
    <div class="col-md-10"> <br /> </div>
    <div class="col-md-10"> <br /> </div>
    <div class="col-md-10"> <br /> </div>
    <div class="col-md-10"> <br /> </div>



</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" type="text/css" href="/timepicker/jquery.timepicker.css" />
    <script src="/timepicker/jquery.timepicker.js"></script>
    <script>
            $('.timepickeropen').timepicker({
        timeFormat: 'h:mm p',
        interval: 60,
        minTime: '06:00am',
        maxTime: '11:00am',
        defaultTime: '09:00am',
        startTime: '06:00am',
        dynamic: true,
        dropdown: true,
        scrollbar: true
            });

                $('.timepickerclose').timepicker({
        timeFormat: 'h:mm p',
        interval: 60,
        minTime: '16:00pm',
        maxTime: '23:00pm',
        defaultTime: '21:00pm',
        startTime: '17:00pm',
        dynamic: true,
        dropdown: true,
        scrollbar: true
        });
    </script>
    <script>

    $(document).ready(function() {
        $('#mybutton').click(function () {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var classes = [];
        $('#classdiv input:checked').each(function() {
            classes.push(this.name);
        });

        // now names contains all of the names of checked checkboxes
        // do something with it for excamle post with ajax
        $.ajax({
            url: '@Url.Action("Search", "Branches")',
            type: 'POST',
            data: {
                __RequestVerificationToken: token, classNames: classes, wdOpen: $('#wdOpen').val(),
                wdClose: $('#wdClose').val(), fridayOpen: $('#fridayOpen').val(),
                fridayClose: $('#fridayClose').val(), saturdayOpen: $('#saturdayOpen').val(),
                saturdayClose: $('#saturdayClose').val()
            },
            success: function (response) {
                if (response.result == 'Redirect')
                    window.location = response.url;
            },
            error: function (result) {
                alert("error!");
            }
        });   //end ajax
    });
});
    </script>
}



<h2></h2>

