<!DOCTYPE html>
<html>



<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperFit</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/font-awesome.min.css")
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
                <!-- logo -->
                <div id="logo">
                    <h1>@Html.ActionLink("Superfit", "Index", "Home")</h1>
                </div>
                <!-- //logo -->
                <!-- nav -->
                <div class="nav_w3ls">
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Register", "Register", "Account")</li>
                                <li>@Html.ActionLink("Login", "Login", "Account")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("My Account", "Index", "Manage")</li>
                            }
                            <li class="mx-lg-4 mx-md-3 my-md-0 my-2">@Html.ActionLink("About", "About", "Home")</li>
                            <li class="mx-lg-4 mx-md-3 my-md-0 my-2">
                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle toogle-2">
                                    Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
                                </label>
                                <a href="#" class="active">Users Info <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul>
                                    <li>@Html.ActionLink("Branches", "Index", "Branches")</li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                                    }
                                    <li>@Html.ActionLink("Classes", "Index", "Classes")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
                <!-- //nav -->
            </div>
        </div>
    </header>

    <div>
        <div class="main-top" id="home">
            <!-- header -->
            <!-- //header -->
        </div>
        @RenderBody()
        <a href="#home" class="move-top text-center"></a>
        <footer>
            <div class="cpy-right text-center py-3 navbar-fixed-bottom">
                <p>
                    &copy; @DateTime.Now.Year - SuperFit. All rights reserved
                </p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @** @@Scripts.Render("~/bundles/datetime")*@
    @RenderSection("scripts", required: false)
</body>
</html>
