@{
    ViewBag.Title = "RegisterToClass";
}

@model WebApplication1.Models.RegisterToClassViewModel

@{
    ViewBag.Title = "Register to class";
}

<h2>Class Registration</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Register @Html.DisplayFor(model => model.User.Name) to a class.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.User.Id)

        <div class="form-group">
            <input type="hidden" id="registerOrCancel" name="registerOrCancel" value="register" />
            @Html.LabelFor(model => model.Classes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="classId" id="classId">
                    @foreach (var item in Model.Classes)
                    {
                        <option value="@Html.DisplayFor(modelItem => item.Id)"> @Html.DisplayFor(modelItem => item.Name) on @Html.DisplayFor(modelItem => item.Time) </option>
                        <br />
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<h2></h2>

